@page "/ListaProductos"
@attribute [StreamRendering]

<PageTitle>ListaProductos</PageTitle>

<h1>Lista Productos</h1>

<MudTable Items="productos" Dense="true">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Cantidad</MudTh>
    </HeaderContent>
    <RowTemplate Context="producto">
        <MudTd></MudTd>
        <MudTd></MudTd>
        <MudTd></MudTd>
    </RowTemplate>
</MudTable>

@code {
    private List<Productos> productos = new();
}
